# Pandas Series: A Comprehensive Introduction

## Installation
```python
# Install pandas using pip
pip install pandas

# Install pandas using conda
conda install pandas
```


## Introduction to Pandas
Pandas is the most popular Python library used for data analysis and manipulation. It provides highly optimized performance with back-end source code written purely in C or Python. Two primary data structures in pandas are:

* **Series** - One-dimensional labeled arrays
* **DataFrames** - Two-dimensional labeled data structures with columns of potentially different types

This tutorial focuses on Series objects, their creation, properties, and operations.

## What is a Series?
A Series is a one-dimensional (1-D) labeled array defined in pandas that can store data of any type. While similar to NumPy arrays, Series have two key advantages:

1. **Labeled indices**: Series can be indexed by custom labels, not just numeric positions
2. **Flexible data types**: Series can hold any arbitrary Python objects, not just numeric data

# Creating Series Objects
Let's start by importing the necessary libraries:

In [1]:
import numpy as np
import pandas as pd

## Method 1: Creating a Series from a list
The simplest way to create a Series is from a Python list:

Notice that pandas automatically created numeric indices (0, 1, 2, 3) for our Series.

In [2]:
# Creating a simple list
my_list = [10, 20, 30, 40]

# Converting the list to a Series
simple_series = pd.Series(data=my_list)
print(simple_series)

0    10
1    20
2    30
3    40
dtype: int64

## Method 2: Creating a Series with custom indices
We can assign custom labels to our Series values using the index parameter:

Now we can access values using these custom labels instead of numeric positions.

In [3]:
# Creating custom labels
labels = ['a', 'b', 'c', 'd']

# Creating a Series with custom indices
labeled_series = pd.Series(data=my_list, index=labels)
print(labeled_series)

a    10
b    20
c    30
d    40
dtype: int64

## Method 3: Creating a Series from a NumPy array
Series can also be created from NumPy arrays:

In [4]:
# Create a NumPy array
arr = np.array(my_list)
print("NumPy array:")
print(arr)

# Convert array to Series with custom indices
array_series = pd.Series(arr, labels)
print("\nSeries from array:")
print(array_series)

NumPy array:
[10 20 30 40]

Series from array:
a    10
b    20
c    30
d    40
dtype: int64

## Method 4: Creating a Series from a dictionary
Dictionaries are a natural fit for Series since they already have key-value pairs:

In [5]:
# Create a dictionary
d = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# Convert dictionary to Series
dict_series = pd.Series(data=d)
print(dict_series)

a    10
b    20
c    30
d    40
dtype: int64

## Method 5: Creating a Series with non-numeric data
Series can hold a variety of object types, not just numbers:

In [6]:
# Creating a Series with string data
str_series = pd.Series(data=labels)
print(str_series)

0    a
1    b
2    c
3    d
dtype: object

# Accessing Series Elements
## By label index

In [7]:
# Create two Series with different indices
ser1 = pd.Series([1, 2, 3, 4], index=['nandu', 'nani', 'venky', 'jaswanth'])
ser2 = pd.Series([1, 2, 4, 6], index=['nani', 'chakri', 'nandu', 'venky'])

print("First Series:")
print(ser1)
print("\nSecond Series:")
print(ser2)

# Access by label
print("\nAccessing 'nandu' from first Series:", ser1['nandu'])
print("Accessing 'nandu' from second Series:", ser2['nandu'])

First Series:
nandu       1
nani        2
venky       3
jaswanth    4
dtype: int64

Second Series:
nani      1
chakri    2
nandu     4
venky     6
dtype: int64

Accessing 'nandu' from first Series: 1
Accessing 'nandu' from second Series: 4

## Extracting values as arrays
You can extract the underlying NumPy array using the .values attribute:

In [8]:
print("Values from first Series:", ser1.values)
print("Values from second Series:", ser2.values)

Values from first Series: [1 2 3 4]
Values from second Series: [1 2 4 6]

# Operations with Series
## Arithmetic Operations
Series support vectorized operations like addition, subtraction, etc. When performing operations between Series with different indices, pandas aligns them by index labels:

In [9]:
# Adding two Series with some common indices

# Note: The result includes all indices from both Series. For indices that appear in only one Series, the result is NaN (Not a Number). For common indices, values are added together.
result = ser1 + ser2
print("Result of ser1 + ser2:")
print(result)

Result of ser1 + ser2:
chakri      NaN
jaswanth    NaN
nandu       5.0
nani        3.0
venky       9.0
dtype: float64

## Common Series Attributes and Methods

In [10]:
# Series length
print("Length of ser1:", len(ser1))

# Check if index exists
print("Does 'nandu' exist in ser1?", 'nandu' in ser1)

# Basic statistics
print("Mean of ser1:", ser1.mean())
print("Sum of ser1:", ser1.sum())
print("Min of ser1:", ser1.min())
print("Max of ser1:", ser1.max())

# Describe - gives summary statistics
print("\nSummary statistics:")
print(ser1.describe())

Length of ser1: 4
Does 'nandu' exist in ser1? True
Mean of ser1: 2.5
Sum of ser1: 10
Min of ser1: 1
Max of ser1: 4

Summary statistics:
count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

## Conclusion

Pandas Series are powerful one-dimensional data structures that combine the best features of NumPy arrays and Python dictionaries. They provide a foundation for data analysis in pandas and are essential building blocks for DataFrames.

Key benefits of Series include:
- Custom labeling of data points
- Automatic alignment of data by index for operations
- Built-in handling of missing data
- Rich set of methods for data manipulation and analysis

In the next tutorial, we'll explore DataFrames, which extend these concepts to two-dimensional data structures with labeled rows and columns.